@font-face {
    font-family: 'BodoniModa';
    src: url('@/assets/fonts/BodoniModa.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BodoniModa';
    src: url('@/assets/fonts/BodoniModa-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'CormorantGaramond';
    src: url('@/assets/fonts/CormorantGaramond.ttf') format('truetype');
}

@font-face {
    font-family: 'ImperialScript';
    src: url('@/assets/fonts/ImperialScript-Regular.ttf') format('truetype');
}