@import "tailwindcss";

/* General */
* {
    scrollbar-width: none;
}

body {
    font-size: 15px;
}

a {
    text-decoration: none;
}

/* Genaral Colors */
.text-gold {
    color: #ffd0b6;
}

.border-gold {
    border-color: #ffd0b6;
}

.bg-gold {
    background-color: #ffd0b6;
}


/* Home Page */
.guide-button {
    background-color: transparent;
    color: #ffd0b6;
    border-color: #ffd0b6;

    &:hover {
        background-color: #ffd0b6;
        color: rgb(104, 102, 102);
        border-color: #ffd0b6;
    }
}

.reply-button {
    background-color: #ffd0b6;
    color: rgb(104, 102, 102);
    border-color: transparent;

    &:hover {
        background-color: transparent;
        color: #ffd0b6;
        border-color: #ffd0b6;
    }
}


/* External Fonts */
.bm_s {
    font-family: 'BodoniModa', serif;
}

.bm_s_i {
    font-family: 'BodoniModa', serif;
    font-style: italic;
}

.cg_s {
    font-family: 'CormorantGaramond', serif;
}

.cs_s {
    font-family: 'CormorantSC', serif;
}

.is_c {
    font-family: 'ImperialScript', cursive;
}

.sm_s {
    font-family: 'ShipporiMincho', serif;
}